body {
  background-color: #dde4e8;
  background-image: url(/images/background.jpg);
  background-repeat: repeat-x;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-size: 150%;
  margin: 0;
  padding: 0 1em 0 1em;
}

div#syncstatus {
  display: none;
  background-color: #678;
  border: none;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #eee;
  filter: alpha(opacity=80);
  opacity: 0.8;
  width: 10em;
  height: 7.6em;
  text-align: center;
  padding-top: 2.5em;
  margin: 3em auto auto 11em;
  position: absolute;
  z-index: 10;
}

div#syncstatus img {
  height: 120px;
  width: 120px;
}

div#body {
  color: #333;
  margin: 0 auto 0 auto;
  width: 31em;
}

a {
  border: none;
  color: #567;
  text-decoration: none;
}

a:hover {
  color: #567;
  text-decoration: none;
}

a:visited {
  border: none;
  color: #567;
  text-decoration: none;
}

h1 {
  background-color: white;
  border: 1px solid white;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  font-weight: normal;
  margin: 0 0 0.5em 0;
  padding: 0.5em;
  text-align: center;
  width: 6em;
}

.links {
  color: #567;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 1em;
  text-align: center;
  text-shadow: #fff 0px 1px;
  width: 14em;
}

.list {
  background-color: white;
  border: 0.5em solid white;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  margin: 1em 0 0 0;
  width: 30em;
}

ol {
  border-bottom: 1px solid #e4e4e4;
  font-size: 1.3em;
  margin: 1em;
  padding-bottom: 10px;
}

li {
  padding: 0.3em;
}

img.delete {
  border: none;
  float: right;
  height: 30px;
  margin-left: 20px;
  position: relative;
}

input#addnew {
  background-color: white;
  border: none;
  -webkit-appearance: none;
  color: #333;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-size: 1.3em;
  margin: 0 0 1em 1em;
  outline: none;
  position: relative;
  width: 20em;
}

.footer {
  color: #678;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: .7em;
  margin: 0.5em 0 1em 0;
  text-align: center;
  text-shadow: #fff 0px 1px;
  width: 44em;
}
