body {
  background-color: #dde4e8;
  background-image: url(/images/background.jpg);
  background-repeat: repeat-x;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-size: 150%;
  margin: 0;
  padding: 0 1em 0 1em;
}

div#body {
  color: #333;
  margin: 0 auto 0 auto;
  width: 31em;
}

a {
  border: none;
  color: #449;
  text-decoration: none;
}

a:hover {
  color: #449;
  text-decoration: none;
}

a:visited {
  border: none;
  color: #449;
  text-decoration: none;
}

h1 {
  background-color: white;
  border: 1px solid white;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  font-weight: normal;
  font-style: italic;
  margin: 0 0 0.5em 0;
  padding: 0.5em;
  text-align: center;
  width: 6em;
}

.links {
  font-size: 1em;
  text-align: center;
  width: 14em;
}

.list {
  background-color: white;
  border: 0.5em solid white;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  font-style: italic;
  margin: 1em 0 0 0;
  width: 30em;
}

ol {
  border-bottom: 1px solid #e4e4e4;
  font-size: 1.3em;
  margin: 1em;
  padding-bottom: 10px;
}

li {
  padding: 0.3em;
}

img.delete {
  border: none;
  margin-left: 20px;
  height: 10px;
  width: 10px;
}

input#addnew {
  background-color: white;
  border: none;
  -webkit-appearance: none;
  color: #333;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-size: 1.3em;
  margin: 0 0 1em 1em;
  outline: none;
  position: relative;
  width: 20em;
}

.footer {
  font-size: .7em;
  margin-top: 0.5em;
  text-align: center;
  width: 44em;
}
